body{
    background-color: #100f17;
    
    font-family: "Roboto", sans-serif
}
h3{
    color: white;
}
.gameSection{
    background-color: #27262e;

    
    margin-top: 1.5em;
    height: 12.5em;
    
}
.gameIcons{
    display: flex;
 

}
.game{
  margin-left: 3em;
    
    
    
}
.game img{
    margin: 0.8em;
    border-radius: 50%;
    height: 11em;
    width: 11em;
}
.game img:hover{
    
 border-radius: 50%;
 border: 2px solid rgb(228, 64, 64);
}