body {
    background-color: black;
    
    font-family: "Inter", sans-serif
   
}

@media only screen and (max-width: 768px) {
.mainPage{ display: none;}
.mobile{
    display: block!important;
}
}



.navbar{
    overflow-x: scroll;
    width: 100%;
    margin-bottom: 2em;
    height: 2em;
    border-radius: 0px 0px 75px 75px;
    
    border-bottom: 4px solid white;
    
    
    display: flex;   
    
   

  

    
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar a:hover{
    color: #34eb52;
    
}
.borderNavbar{
    border-right: 1px solid white;
}
.navbar a{
   
    
    
   
    font-family: "Inter", sans-serif;
    
    font-size: 1.2em;
   
    margin-left: 2em;
    margin-right: 2em;
    justify-content: space-around;
    
    text-decoration: none;
    color: white;
    margin-top: 0;
}
.myInfos{
    margin-top: 2em;
    
    
    display: flex;
    
}
.myImage{
    margin-top: 1%;
    width: 7%;
    
  
 
    
}
.myImage img{

    border-radius: 50%;
    height: 5em;
    width: 5em;
}
.textInfo{
    border-radius: 25px 25px 25px 25px;
    background-color: #27262e;
    width: 65%;
    
}
.textInfo h5{
    
    margin: 5%;
    word-spacing: 100%;
    color: white;
    font-size: 1.2em;
    
}