body {
    background-color: black;
    
    font-family: "Roboto", sans-serif
   
}
.navbar{
    display: flex;   
    flex-direction: flex-end;
    
}
.navbar a{
    margin-left: 2em;
    justify-content: space-between;
    
    text-decoration: none;
    color: white;
}