body {
    background-color: #100f17;
    
    font-family: "Roboto", sans-serif
   
}


.navbar{
    height: 2em;
    border-radius: 0px 0px 95px 95px;
    
    border: 1px solid white;
    
    display: flex;   

  

    
}
.navbar img{

    height: 3em;
    width: 3em;
}
.navbar a:hover{
    color: #34eb52;
    
}

.navbar a{
    
    font-size: 1.2em;
    font-weight: 1000;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: space-around;
    
    text-decoration: none;
    color: white;
}
.myInfos{
    margin-top: 2em;
    
    display: flex;
    
}
.myImage{
    margin-top: 1%;
    width: 7%;
    
  
 
    
}
.myImage img{

    border-radius: 50%;
    height: 5em;
    width: 5em;
}
.textInfo{
    border-radius: 25px 25px 25px 25px;
    background-color: #27262e;
    width: 65%;
    
}
.textInfo h5{
    
    margin: 5%;
    word-spacing: 100%;
    color: wheat;
    font-size: 1.2em;
    
}